.menu{

    margin-top: 33px;

}

.menu-list{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 2px solid #828282;

}

.item-name{

   font-family: 'Public Sans';
    font-size:  18px;
    line-height: 22px;
    font-weight: 900;
    color: #828282;
    text-decoration: none;
    border: none;
    background: none;

}

.item-name:hover, .item-name:active, .item-name:focus{

    opacity: 3.5;
    color: #070707;
}

